<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col size="6">
      <ion-button class="boton" color="primary" [routerLink]="['/inicio']">
        <ion-card-header class="ion-text-center">Inicio</ion-card-header>
      </ion-button>
      <ion-button class="boton" color="primary" [routerLink]="['/action-sheet']">
        <ion-card-header class="ion-text-center">Action-Sheet</ion-card-header>
      </ion-button>
      <ion-button class="boton" color="primary" [routerLink]="['/alerta']">
        <ion-card-header class="ion-text-center">Alertas</ion-card-header>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>